@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:wght@300;400&display=swap');

.lego-titles{
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
}

.lego-headings{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}